  /********CSS FOR Chat Home Page*******************************/

  .home-page{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
  }
  
  .main-content{
    display: flex;
    width: 90%;
    margin: 10px auto;
    padding: 10px 10px;
    flex:1;
  }
  
  /********CSS FOR SIDEBAR COMPONENT************************/
  
  .app-sidebar{
    width: 30%;
    padding: 0px 20px;
  }
  
  
  /********CSS FOR SEARCH COMPONENT************************/

  .user-search-area{
    margin-top: 14rem;
    margin-bottom: 20px;
    width: 15rem;
    position: relative;
  }
  
  .user-search-text{
    width: 21rem;
    height: 35px;
    padding: 10px 20px;
    border: solid black;
    border-radius: 20px;
    color: #28282B;
  }

  .searchForm {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  /********CSS FOR USER LIST COMPONENT*********************/

  .filtered-user{
    border-bottom: #ccc 1px solid;
    padding: 10px 10px;
    color: #28282B;
    cursor: pointer;
    background-color: white;
  }
  .selected-user{
    border-bottom: #ccc 1px solid;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    background-color: #e74c3c;
  }
  
  .filter-user-display{
    display: flex;
    flex-wrap: wrap;
  }
  .filter-user-details{
    width: 60%;
  }
  .user-display-name{
    padding: 1px 20px;
    font-size: 16px;
    font-weight: bold;
  }
  .user-display-email{
    padding: 1px 20px;
    font-size: 12px;
  }
  
  .user-default-avatar, .user-profile-image, .user-selected-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }
  .user-default-avatar{
    background-color: #e74c3c;
    color: white;
  }
  .user-selected-avatar{
    background-color: white;
    color: #e74c3c;
  }
  
  .user-start-chat{
    padding: 10px 0px;
  }
  .user-start-chat-btn{
    padding: 10px 5px;
    border: none;
    border-radius: 3px;
    background-color: #292c2f;
    color: white;
  }
  
  /*************CSS STYLES FOR CHAT AREA**************/
  
  .app-chat-area{
    margin-top: 7rem;
    margin-bottom: 10px;
    background-color: white;
    width: 70%;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 85vh;
  }
  
  /*************CSS STYLES FOR CHAT AREA HEADER************/

  .app-chat-area-header{
      padding: 10px 30px;
      margin-bottom: 20px;
      border-bottom: #bbb 1px solid;
      text-align: right;
      font-weight: bold;
      color: #e74c3c;
  }
  
  /********CSS STYLES FOR CHAT AREA & CHAT INPUT***********/

  .main-chat-area{
    flex: 1;
    overflow-y: scroll;
    padding: 10px 20px;
  }
  
  .send-message-div{
    position: relative;
    margin-top: 20px;
  }
  
  .send-message-input{
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #28282B;
    border: #ddd 1px solid;
  }
  
  .send-message-btn{
    position: absolute;
    right: 10px;
    font-size: 25px;
    color: #e74c3c;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 5px;
  }
  
  .send-emoji-btn{
    position: absolute;
    right: 50px;
    font-size: 25px;
    color: #e74c3c;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 5px;
  }
  
  .send-image-btn{
    position: absolute;
    right: 80px;
    font-size: 25px;
    color: #e74c3c;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin-top: 5px;
  }
  
  /***********CUSTOM SCROLLBAR FOR CHATAREA**************/

  .main-chat-area::-webkit-scrollbar {
    width: 5px;
  }
  
  .main-chat-area::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 10px;
  }
  
  .main-chat-area::-webkit-scrollbar-thumb {
    background: #e74c3c; 
    border-radius: 10px;
  }
  
  .main-chat-area::-webkit-scrollbar-thumb:hover {
    background: #e74c3c; 
  }
  
  /***************CSS FOR CHAT MESSAGES********************/

  .message-container{
      display: flex;
  }
  .send-message, .received-message{
      padding: 10px 20px;
      margin-top: 5px;
      border-radius: 10px;
      font-size: 14px;
      width: fit-content;
  }
  
  .send-message{ 
      background-color: #e74c3c;
      color: white;
      margin-left: 100px;
      border-top-right-radius: 0px;
  }
  
  .received-message{ 
      background-color: #ddd;
      color: #28282B;
      margin-right: 100px;
      border-bottom-left-radius: 0px;
  }
  .message-timestamp{
    width: fit-content;
    font-size: 13px;
  }
  .last-message-timestamp{
    font-size: 13px;
  }
  
  /************MEDIA QUERY FOR USER LIST*****************/
  
  @media only screen and (max-width: 1000px) {
    .filter-user-details, .last-message-timestamp {
      display: none;
    }
    .user-search-area, .unread-message-counter {
        display: none;
    }
    .app-sidebar{
        width: 15%;
    }
    .app-chat-area{
        width: 85%
    }
  }
  .unread-message-counter{
    text-align: center;
    float: right;
    font-size: 13px;
    padding-top: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e74c3c;
    font-weight: bold;
    color: white;
  }
  
  
  .typing-indicator{
    font-size: 13px;
    color: grey;
  }