
.profile-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    max-width: 1000px; 
    margin: 20px auto; 
    padding: 20px;
    gap: 20px; 
    font-family: Arial, sans-serif;
}

.platform-card {
    flex: 1; 
    max-width: 48%; 
    border-radius: 10px;
    padding: 50px;
    min-height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* LeetCode Styling */
.leetcode {
    background-color: #f7f7f7;
    border-left: 5px solid #ffa116;
}

/* Codeforces Styling */
.codeforces {
    background-color: #f0f4ff;
    border-left: 5px solid #1f8eed;
}

@media (max-width: 768px) {
    .profile-container {
        flex-direction: column; 
    }

    .platform-card {
        max-width: 100%; 
    }
}

h1 { 
    width:100%;
    text-align: center
}
h2 {
    color: #333;
}

p, ul {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}
